
<div class="container">
  <div class="box">
    <h1>念能力診断</h1>
    <%= link_to "診断を始める", new_topic_path, class: "btn-sf-like" %>
  </div>
</div>


<canvas class="background"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>

