<div id="splash">
  <div id="splash_logo">
    <img src="/assets/logo.jpg" alt="" class="fadeUp">
  </div>
</div>
<div class="container">
  <div class="box">
    <h1>念能力診断</h1>
    <%= link_to "診断を始める", new_topic_path, class: "btn-sf-like" %>
  </div>
</div>


<canvas class="background"></canvas>

