/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .radio01{
	float: left;	
	width: 100%;	
	margin:0 0 50px 0;
}
.radio01 input{
	display: none;
}
.radio01 label{
	display: block;
	float: left;
	cursor: pointer;
	width: 180px;
	margin: 1px 0 1px 0;
	padding: 1.4% 0 1.5% 0;
	border-right: 1px solid #d7d7d7;
	background: #e5e5e5;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}

.radio01 label:last-of-type{
	border-right: 0px;
}
.radio01 input[type="radio"]:checked + label {
	background-color: #a1b91d;
	color: #fff;
}