@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
  }
  /* Loading アイコンの大きさ設定　*/
#splash_logo img {
  background-size: cover;
  width: 150px;
}

  
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Default Styling */
body {
  font-family: 'Merienda', cursive;
}
.container {
    height: 100vh;
    display: flex;
    background: #1f1f1f;
    color: #1f1f1fdd;
    justify-content: center;
    align-items: center;
  }

.box {
  background: #E5E5E5;
  border-radius: 5px;
  padding: 5%;
  display: inline-block; 
  text-align: center;
  z-index: 1;
}
a {
  color: #0bd;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #0bd;/*ボタン色*/
  color: #E5E5E5;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-sf-like {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 0.3em 0.5em;
  background: #0bd;
  border-radius: 5px;
  transition: .4s;
}

.btn-sf-like:hover {
  text-shadow: -6px 0px 15px #E5E5E5,
               6px 0px 15px #E5E5E5;
}


/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:#1C2120;
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}

