.col-8{
    height: 30vh;
    display: flex;
    align-items: center;
    color: #1f1f1fdd;
    justify-content: center;
    text-align: center;
}
.col-13 p{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    height: 20vh;
    display: flex;
    align-items: center;
    color: #1f1f1fdd;
    justify-content: center;
}
.col-9{
    display: flex;
    align-items: center;
    color: #1f1f1fdd;
    justify-content: center;
    text-align: center;
}
.col-10{
    height: 250px;
    display: flex;
    align-items: center;
    color: #1f1f1fdd;
    justify-content: center;
    text-align: center;
}

