<% if @topic5.question == 14  %>
    <p>強化系</p>
    <p>強固な意思を持ち、時にワガママな性格のアナタは強化系です！
    バトルや力仕事で大活躍できる、パワーファイターに向いています。</p>
<% end %>

<% if @topic5.question == 15  %>
    <p>変化形</p>
    <p>ミステリアスな人だと思われがちなアナタは変化形！
    オーラを身体から離さずに、素早い動きや細かな作業を得意とするハンターです。</p>
<% end %>

<% if @topic5.question == 16  %>
    <p>具現化系</p>
    <p>細かいことにも目の届くアナタは具現化系！
    持ち前の冷静な判断力や集中力で、何かを教えたり指導したりするのが得意でしょう。</p>
<% end %>

<% if @topic5.question == 17  %>
    <p>放出系</p>
    <p>上に厚いアナタは放出系にピッタリ！
    面倒見がよいため仲間や後輩から慕われやすく、客商売に向いたハンターかもしれません。</p>
<% end %>

<% if @topic5.question == 18  %>
    <p>操作系</p>
    <p>細かいとに機転が効き、筋道を考えられるアナタは操作系です！
    理論派のハンターとして、きっと活躍できるでしょう。</p>
<% end %>

<% if @topic5.question == 19  %>
    <p>特質系</p>
    <p>他の人と一線を画すただならぬ性格のアナタは特質系かもしれません。
    周囲に自然と人が集まってくるリーダー格のハンターです。</p>
<% end %>

<% if @topic5.question == 20  %>
    <p>念の修行にはまだ早い！！</p>
    <p>あなたは念の習得をするには十分な実力がないようです。
    まずは四大行を行った方がいいですよ！</p>
<% end %>
